
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- Fontawesome -->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- regular CSS -->
   
  </head>
  <body>
<link rel="stylesheet" href="/stylesheets/landing.css" />

<main>
    <div class="lp">
      <section class="lp__grid">
        <div class="lp__item lp__nav">
          <i class="fas fa-bars"></i>
          <p><a href="/travelplaces">travel.<span>circle</span></a></p>
        </div>
        <div class="lp__item lp__mainText">
          <h1>Welcome to Seattle,<br>elegant & eternal.   <a href="/travelplaces"><i class="fas fa-location-arrow"></i></a></h1>
         
          
         
          <p>Wild landscape, the rugged cliffs, the wild nature and beautiful beaches ...
            <li>Seattle Center & the Space Needle</li>
            <li>Pike Place Market</li>
            <li>Chihuly Garden and Glass</li>
            <li>Museum of Flight</li>
            <li>Olympic Sculpture Park</li>
            ... ...
        </div>
        <div class="lp__item lp__mainImg">
          <div class="lp__social"><i class="fas fa-camera"></i></div>
        </div>
        <div class="lp__item lp__supportInfo">
          <div class="lp__suportInfo__item lp__suportInfo__text">
            <h2><a href="/travelplaces">Explore</a></h2>
            
          </div>
          <div class="lp__suportInfo__item lp__suportInfo__image"></div>
        </div>
    </div>
    </div>
  </main>


