<%- include("./partials/header") %>
<!-- regular CSS -->
<link rel="stylesheet" href="/stylesheets/register.css" />

<div class="createNew-page">
  <div class="form">
    <form action="/login" method="POST" class="createNew-form">
      <h1 class="mb-2">Login Form</h1>
      <input type="text" name="username" id="username" placeholder="username" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
      <button>Submit</button>
      <p class="message">Not registered? <a href="/register">Create an Account</a></p>
    </form>
    
  </div>
</div>
      
    </form>
  </div>
</div>