<%- include("../partials/header") %>
<!-- regular CSS -->
<link rel="stylesheet" href="/stylesheets/new.css" />

<div class="createNew-page">
  <div class="form">
    <form action="/travelplaces" method="POST" class="createNew-form">
      <h1 class="mb-4">New Travel Place</h1>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="name"
        maxlength="50"
        required
      />
      <input
        type="text"
        name="image"
        id="image"
        placeholder="image url"
        required
      />

      <textarea
        class="description"
        type="text"
        name="description"
        id="description"
        placeholder="description"
        style="width: 100%;"
        rows="5"
      ></textarea>

      <button>Submit</button>

      <p class="message"><a href="/travelplaces">Go Back</a></p>
    </form>
  </div>
</div>
